# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build Output
node_modules
dist
dist-ssr
*.local
.vite

# Environment & Secret Files
.env
.env.*
!.env.example

# TypeScript Build & Lint Caches
*.tsbuildinfo
.tmp
.eslintcache

# Testing & Coverage
coverage
.nyc_output

# Editor & OS Directories
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?